//font-color:
$fontC-light-l:#CCC;
$fontC-light:#999;
$fontC-middle:#666;
$fontC-deep:#333;
$fontC-aHover-blue:#463b7f;
$fontC-aHover-red-d:#9c003f;
$fontC-aHover-red-l:#e93b39;
$fontC-aHover-yellow:#c69c6d;

//font-size:
$fontS-small:12px;
$fontS-middle:14px;
$fontS-large:16px;
$fontS-x:18px;
