@import "mixins","type","util","variables";

.ad{
    background: url(../image/ad.jpg) no-repeat center center;@extend %bigbox;display: block;height: 50px;position: relative;
    input{
        background: transparent;border: none;height: 15px;width: 15px;position: absolute;right:92px;top: 0px;padding: 0;
    }
}
.banner{
    margin-bottom: 50px;
    .background{
        height: 400px;width: 100%;float: left;position: relative;z-index: -1;
        div{
            position: absolute;display: none;height: 100%;width: 100%;
        }
    }
    .banners{
        @extend %bigbox;
    }
    .carousel{
        padding-left: 180px;position: relative;cursor: pointer;
    }
    .ban_bottom{
        padding-left: 180px;height: 160px;
        img{
            margin: 12px 0 0 10px;float: left;cursor: pointer;
        }
    }
    .button{
        position: absolute;left: 555px;bottom: 10px;overflow: hidden;background-color: black;@include borcir(7px);opacity: 0.75;filter: alpha(opacity=75);
        li{
            width: 10px;height: 10px;float: left;background-color: white;margin: 2px 5px;@include borcir;
        }
        .act{
            background-color: $fontC-aHover-blue;
        }
    }
    .left_side,.right_side{
        width: 40px;height: 100px;background: url(../image/slide_btn.png) no-repeat;position: absolute;top: 150px;left: 180px;opacity: .5;filter: alpha(opacity=50);
    }
    .right_side{
        background-position-x: -40px;left: 1160px;
    }
}
.imgbox{
    position: relative;width: 1020px;height: 400px;
    li{
        position: absolute;top: 0px;left: 0px;width: 1020px;height: 400px;display: none;overflow: hidden;
    }
    .bigimg{
        position: absolute;left: -10px;
    }
    .smallimg{
        position: absolute;right: -10px;
    }
}
.global{
    @extend %bigbox;padding-bottom: 27px;
    .title-bar{
        background-position: 0 -22px;margin-bottom: 10px;
    }
    .strickout{
        ul{
            margin: 0 auto;width: 400px;padding: 0 23px;overflow: hidden;background-color: white;
        }
        li{
            float: left;font-family: "microsoft yahei";@include align(35px);color: $fontC-light;width: 100px;
        }
        span{
            display: inline-block;width: 35px;height: 35px;margin-right: 5px;background: url(../image/ico_index.png) no-repeat ;background-position-y: -130px;background-position-x: -3px;vertical-align: middle;
        }
    }
    .global_left_top{
        margin-right: 40px;       
    }
}
.global_left{
    padding-top: 25px;width: 1000px;float: left;
    >a{float: left;}
    ul{}
    li{
        float: left;padding: 15px 5px 0;width: 190px;
        >a{
            margin: 0 auto;width: 160px;display: block;height: 160px;
        }
    }
    div{
        padding-left: 40px;
        >a{
            font-family: "microsoft yahei";color: $fontC-deep;line-height: 14px;display: block;height: 28px;
        }
        span{color: $fontC-deep;font-family: "microsoft yahei";line-height: 20px;}
    }
    em{
        float: left;width: 30px;height: 20px;background: url(../image/ico_index.png) no-repeat -32px -206px;
    }
    p{
        font-weight: bold;font-family: "microsoft yahei";line-height: 20px;
    }    
}
.global_right{
    padding-top: 25px;width: 180px;float: right;height: 655px;
    >a{
        padding: 13px 0;display: block;text-align: right;font-family:"microsoft yahei"; color: black;
        &:hover{
            color: $fontC-aHover-blue;
        }
    }
}
.sale{
    @extend %bigbox;
    .title-bar{
        background-position: 0 -45px;
    }
    .strickout{
        span{
            background: white;display: block;width: 115px;padding: 0 23px;margin: 0 auto;font: 14px "microsoft yahei";@include align(35px);
        }
    }
    .mid_left{
        position: absolute;left: 0px;top: 21px;width: 191px;height: 19px;text-align: center;display: block;background-color:#f5f5f5 ;z-index: 2;
    }
    
}
.sale_mid{
    position: relative;overflow: hidden;
    p{
        text-align: right;
        @extend %aHover;height: 27px;
        a{color: black;
            &:hover{
                color: $fontC-aHover-blue;
            }
        }
    }
}
.sale_mid_left{
        width: 567px;height: 408px;float: left;margin-right: 40px;position: relative;
        >a{
            display: block;height: 100%;width: 100%;position: absolute;left: 0px;top: 0px;z-index: 2;
        }
        .info{
            display: block;position: absolute;width: 140px;height: 176px;text-align: center;padding-top: 10px;top: 30%;left: 50px;background-color: white;
            img{
                width: 90px;height: 90px;margin: 0 auto;margin-bottom: 8px;
            }
            .info_1{
                font-size: $fontS-large;padding: 6px 0 12px;border-top:  1px solid black;
            }
            .info_2{
                font-family: "microsoft yahei";border: 1px solid black;width: 96px;margin: 0 auto;text-align: center;@include align(26px);display: block;margin-top: 12px;
            }
        }
}
.sale_mid_center{
    width: 375px;float: left;
    >div{
        width: 375px;height: 189px;position: relative;
        .info{
            position: absolute;left: 90px;bottom: 15px;width: 200px;height: 51px;padding-top: 9px;text-align: center;background-color: white;opacity: 0.75;filter: alpha(opacity=75);
        }
        .info_1{
            font-family: "microsoft yahei";
        }
        .info_2{
            font-size: $fontS-x;
        }
    }
    .sale_mid_center1{
        margin-bottom: 30px;
    }
}
 
.sale_mid_right{
    width: 162px;height: 392px;padding: 8px;background: url(../image/sale_right_bg.png) no-repeat;float: right;
    dt{
        padding: 8px 0;
        a{
            width: 120px;height: 120px;display: block;margin: 0 auto;
        }
    }
    dd{
        text-align: center;
        a{
            font-family: "microsoft yahei";color: #000000;
        }
        .mid_right_value{
            color: $fontC-deep;font-weight: bold;font-family: "microsoft yahei";display: inline-block;margin: 5px 0 8px; 
        }
        .mid_right_time{
            color: #888;background: url(../image/ico_index.png) no-repeat -264px -139px;padding-left: 18px;@include align(16px);display: inline-block;
        }
    }
} 
.sale_bott{
    padding-bottom: 27px;overflow: hidden;height: 194px;
    li{
        float: left;margin-left: 24px;padding-top: 40px;
    }
} 
.auction{
    @extend %bigbox;   padding-bottom: 70px;
    .title-bar{
        background-position: 0 -67px;
    }
    .strickout{text-align: center;margin-bottom: 29px;
        span{
            background: white;display: inline-block;padding: 0 23px;font: 14px/35px "microsoft yahei";
        }
    }
    .auction_img{
        float: left;width: 920px;height: 380px;
    }
    
}
.auction_right{
    width: 241px;float: right;
    ul{
        padding: 15px 23px 0;
        height: 255px;
        background: #f3f3f1;
        margin-bottom: 24px;
    }
    li{
        padding-bottom: 16px;
        font-family: "microsoft yahei"; 
        @extend %aHover;
         a{
       font-family: "microsoft yahei"; color: black;display: block;width: 100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;
    }
    }
   
}
.auction_logo{
    text-align: center;@extend %aHover;
    .logo_box{
        width: 102px;height: 33px;background: url(../image/ico_index.png) no-repeat 0px -169px;display: block;margin: 0 auto 9px;
    }
    a{
        font: 17px "microsoft yahei";color: black;
    }
    #auction_shopnum{
        font-family: "microsoft yahei";color: $fontC-light;line-height: 30px;
    }
}


    
.wag{
    .waggle{
        display: block;width: 178px;height: 88px;border: 1px solid #e8e8e8;;overflow: hidden;position: relative;
    }
    span{
        width: 80px;@include align(88px);text-align: center;color: #d33220;font: bold 16px/88px "microsoft yahei";position: absolute;top: 0px;left: 180px;
    }
    li{
        padding-bottom: 36px;
    }
    img{
        position: absolute;left: 0px;top: 0px;width: 178px;height: 88px;
    }
    .mess{
        font: 14px "microsoft yahei";@include align(28px);display: block;color: #5d5d5d;text-align: center;
        &:hover{
            color: $fontC-aHover-blue;
        }
    }
}
.title-bar{
    display: block;width: 201px;height: 19px;margin: 0 auto;background: url(../image/ico_index.png) no-repeat ;
}
.strickout{
    background: url(../image/strickout.png) repeat-x center center;height: 35px;
}

.mall{
    @extend %bigbox;
    .title-bar{
        background-position: 0 -87px;
    }
    .strickout{text-align: center;
        span{
            background: white;display: inline-block;padding: 0 23px;font: 14px/35px "microsoft yahei";
        }
    }
    .mall_box{
        
    }
    h3{
        @include align(32px);margin-top: 32px; font-weight: normal;
        .more{
           float: right;margin: 0;
        }
        span{
           font: 16px/32px "Microsoft Yahei";padding-right: 23px;color: $fontC-deep;
        }
        a{
            color: $fontC-light;font-family: "microsoft yahei";margin-right: 14px;
            &:hover{
                color: $fontC-aHover-blue;
            }
        }
    }
    .mall_box_bot{
        overflow: hidden;
    }
    .mall_box_left{
        float: left;position: relative;width: 480px;height: 329px;
        a{
            display: block;position: absolute;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 2;
        }
        div{
            position: absolute;left: 115px;bottom: 15px;background-color: white;padding-top: 20px;width: 247px;height: 65px;text-align: center;color: $fontC-deep;opacity: 0.85;filter: alpha(opacity=85);
        }
        p{
            font: 14px/20px "Microsoft Yahei";
        }
        span{
            font-size: $fontS-x;font-family: tahoma "microsoft yahei";
        }
    }
    .mall_box_right{
        float: right;@include border-index(1px,0,0,0);width: 720px;
        a{
            float: left;width: 240px;height: 163px;@include border-index(0,1px,1px,0);position: relative;
        }
        .first{
            width: 237px;height: 327px;
        }
        span{
            position: absolute;left: 20px;top: 0px;font-family: "microsoft yahei";
        }
        .info-1{
            color: #2f2f2f;font-size: $fontS-middle;top: 30px;
        }
        .info-2{
            color: #888;top: 50px;
        }
    }
    
}
.like{
    @extend %bigbox;padding-bottom: 50px;
    .title-bar{
        background-position: 0 -109px;background-color:white;
    }
    .strickout{
        padding-top: 10px;height: 26px;margin:60px 0;
    }
    .like_box{
        height: 215px;position: relative;padding: 0 25px;overflow: hidden;
        .likebox{
            position: relative;height: 100%;top: 0px;overflow: hidden;
        }
        a{
            width: 190px;height: 215px;text-align: center;position: absolute;top: 0px;display: none;float: left;left: 0px;
        }
        img{
            width: 160px;height: 160px;margin: 0 auto;margin-bottom: 25px;
        }
        .like_name{
            display: inline-block;width: 100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;font-family: "microsoft yahei";color: $fontC-deep;
        }
        .like_value{
            color: $fontC-middle;font-family: "microsoft yahei";
        }
        .hover{
            color: $fontC-aHover-red-l;
        }
    }
    .left-side,.right-side{
        position: absolute;top: 79px;width: 21px;height: 53px;cursor: pointer;background: url(../image/ico_index.png) no-repeat;
    }
    .left-side{
        background-position: -235px -23px;left: 0px;
    }
    .right-side{
        background-position: -257px -23px;right: 0px;
    }
    
    
}
.rightbar{
    position: fixed;top: 25%;right: 10px;display: none;
    li{
        opacity: 0.75;filter: alpha(opacity=75);background-color: white;
    }
    a{
        width: 75px;height: 30px;display: block;color: black;font: 12px "microsoft yahei";text-decoration: none;line-height: 30px;position: relative;background-color: white;
        &:hover span{
            background-color: white;z-index: 2;display: block;
        }
    }            
    span {
        display: none;position: absolute;width: 75px;height: 30px;background-color: white;z-index: -1;left: 0px;top: 0px;color: $fontC-aHover-red-l;font-size: 14px;
    }
    span.active{
        z-index: 2;@include align(27px);border-bottom: 3px solid black;font-weight: bold;
    }           
    .top{
        background:transparent url(../image/ico_index.png) no-repeat -251px -76px;width: 75px;height: 30px;cursor: pointer;
        
    }
}

#login{
    background:#fdf8f4 url(../image/login_01.jpg) no-repeat center top;
    .mark{width:100%;height: 100%;position: fixed;z-index: 1000;display: none;
        .markcon{
            width: 492px;position: relative;left: 50%;top:50%;z-index: 20;height: 185px;margin-top: -93px;margin-left: -246px;background-color: white;text-align: center;
        }
        h3{
            @include align(40px);font-weight: bold;font-size: 14px;
            background-color: #F5F5F5;margin-bottom: 50px;
        }    
        a{
            background-color: #FF2832;float: right;@include align(30px);padding: 0 10px;color: white;margin-right: 30px;font-size: 16px;
        }
        .colormark{
            width: 100%;height: 100%;display: block;
            background-color: #000000; 
            height: 100%; 
            left: 0; 
            filter:alpha(opacity=30); 
            opacity:0.3; 
            overflow: hidden; 
            position: absolute; 
            top: 0; 
            width: 100%; 
            z-index: 10;
            display: block;
        }
    }
}            
.log_top{
    background-color: black;
    .log_tops{
        text-align: right;@extend %bigbox;height: 70px;
        img{
            float: left;
        }
        a{
            padding: 0 10px;color: $fontC-light;line-height: 70px;
            &:hover{
                color: #c69c6d;
            }
        }
    }
}
.log_center{
    @extend %bigbox;height: 780px;position: relative;
    form{
        margin-top: 110px;padding: 30px 35px;float: right;width: 310px;background-color: white;display: none;
    }
    #lo_yzm{
        width: 115px;
    }
    .log_tab{
        position: absolute;right: 86px;top: 110px;overflow: hidden;width: 201px;border: 1px solid #ddd;background-color: #ddd;
        a{
            width: 100px;height: 30px;float: left;background-color: white;font-weight: bold;line-height: 30px;text-align: center;font-size: 18px;font-family: "microsoft yahei";color: $fontC-middle;
        }
        a.active{
            background-color:  white;color:  #f19108;background-color: #F5F5F5;
        }
    }
}
.lo_form{
    input{
        width: 298px;
        height: 20px;
        line-height: 20px;
        padding: 10px 5px;
        border: 1px solid #dedede;
        font-size: 14px;
        font-weight: bold;
        font-family: 'microsoft yahei';
        vertical-align: middle;
        color: $fontC-deep;
    }
    .strong{
        position: absolute;display: inline-block;visibility: hidden;height:30px;line-height: 30px;left: 45px;top: 5px;
        .low,.mid,.hig{width: 30px;height: 14px;display: inline-block;background-color: #D6D6D6;line-height: 12px;text-align: center;margin-right: 5px;
        }
    }
    .strong_low{
        .low{background-color:#ff3600;}
    }
    .strong_mid{
        .low{background-color:#ff3600;}
        .mid{background-color: #ffc000;}
    }
    .strong_hig{
        .low{background-color:#ff3600;}
        .mid{background-color: #ffc000;}
        .hig{background-color: #71b300;}
    }
    a.lo_sub{
        color: white;text-align: center;background-color: #f19108;@include align(50px);font-weight: bold;margin-top: 10px;font-size: 18px;
    }
    span.argeement{
        line-height: 12px;font-weight: bold;color: red;font-family: "microsoft yahei";
    }
    img{
            width: 70px;height: 30px;display: inline-block;margin: 0 10px;vertical-align: middle;
    }
    p{
        @include align(40px);color: $fontC-light;
        input{
            height: 13px;width: 13px;
        }
        
        a{
            color: $fontC-light;
        }
        a.tologin{
            color: #f19108;
        }
        span{
            color: $fontC-middle;
        }
        span.lo_err{
            color: red;font-size: 12px;float: right;font-family: "microsoft yahei";
        }
        span.lo_error{
            font-size: 14px;color: $fontC-light;float: right;font-family: "microsoft yahei";
        }
    }
    
}
.li_form{
    padding-top: 40px !important;    
    .li_error{
        display: none;
        height: 20px;
        border: 1px solid #ffac76;
        background: #ffffcf url(../image/log_error.png) no-repeat left center;
        padding-left: 30px;
        margin-bottom: 10px;
        line-height: 25px;
        color: #ff0200;
    }
    #li_pass,#li_txt{
        width: 298px;
        height: 20px;
        line-height: 20px;
        padding: 14px 5px;
        border: 1px solid #dedede;
        font-size: 14px;
        font-weight: bold;
        font-family: 'microsoft yahei';
    }
    p{
        position: relative;
        margin-bottom: 15px;
        span{
            width: 15px;
            height: 17px;
            position: absolute;
            right: 10px;
            top: 16px;
            background: url(../image/login.png) no-repeat;
        }
        .li_check{
            vertical-align: middle;
        }
        .li_float{
            float: right;color:$fontC-deep; 
            &:hover{
                color: $fontC-aHover-red-d;
            }
        }
        em{
            position: absolute;
            left: 7px;
            top: 18px;
            color: #999;
        }
    }
    .li_img{
        height: 60px;
        a{
            float: left;height: 20px;line-height: 20px;
        }
        img{
            display: inline-block;vertical-align: middle;
        }
    }
    >a{
        width: 100%;
        background-color: #f19108;
        font-size: 16px;
        color: #fff;
        font-weight: bold;
        text-align: center;
        @include align(50px);
        margin-bottom: 15px;
    }
}













#lo_foot{
    background: white;
    .lo_foot_mid{
        background-color: $fontC-aHover-blue;
        ul{
            @extend %bigbox;height: 39px;
        }
        li{
            padding-left: 105px;font: 14px/39px "microsoft yahei";float: left;color: white;
        }
        span{
            background: url(../image/foot-mid.png) no-repeat;display: inline-block;width: 27px;height: 23px;vertical-align: middle;margin-right: 5px;
        }
    }
}
.lo_foot_top{
    @extend %bigbox;padding: 21px 0 25px 10px;position: relative;
    ul{
        width: 172px;height: 138px;float: left;
    }
    .lastul{
        width: 336px;
        a{
            padding-right: 65px;
        }
    }
    li{
        font-family: "microsoft yahei";@include align(21px);color: #000000;@extend %aHover;
        
    }
    .first{
        padding: 4px 0 8px;font-weight: bold;
    }
    a{
        color: $fontC-light;font-family: inherit;
    }
    .two{
        height: 42px;line-height: 16px;
    }
    .foot_ewm{
        height: 136px;position: absolute;right: 0px;bottom: 0px;
        dt{
            padding:0 0 5px;color: $fontC-deep;font-family: "microsoft yahei";text-align: center;
        }
    }
}
.lo_foot_bot{
    padding: 27px 0 20px;
    a{
        color: $fontC-deep;padding: 0 10px;font-family: "microsoft yahei";
    }
    p{
        @extend %aHover;padding-bottom: 15px;@extend %bigbox;text-align: center;
    }
    span{
        color: $fontC-light;padding: 0 10px;font-family: "microsoft yahei";
    }
    .foot_bot_end{
        padding: 0 280px;width: 640px;
        a{
            float: left;
            img{
                width: 108px;height: 40px;
            }
        }
    }
    
    
}            
            
            
            
.firstgood{
    padding: 30px 0px 200px;background-color: #ededed;
    img{
        @extend %bigbox;
    }
} 
.firstgoods,.secondgoods{
    background-color: #ededed;
}
.goods_content{
    @extend %bigbox;
    h3{
        @include align(14px);padding: 30px 0 20px;color: $fontC-middle;
        span{
            float: right;
        }
        a,span{
            font-family: "microsoft yahei";color: $fontC-middle;font-weight: normal;
        }
        a{
            margin: 0px 5px;
        }
    }
    a{
        color: $fontC-middle;
        &:hover{
            color: $fontC-aHover-red-l;
        }
    }
    .g_con{
        padding: 40px 50px 12px 40px;background: #fff;overflow: hidden;height: 539px;
        .g_left{
            float: left;width: 483px;position: relative;
        }
        .g_right{
            float: right;width: 579px;
        }
        #bigbox {
            width: 400px;
            height: 400px;
            position: absolute;
            left: 520px;
            top: 0px;
            overflow: hidden;
            display: none;
            background: white;
            z-index: 20;
            border: 1px solid #ddd;
        }
        #big {
            width: 800px;
            height: 800px;
            position: absolute;
            background:white no-repeat center center;
            display: inherit;
        }
    }
    
}
.g_left_top{
    overflow: hidden;position: relative;
    .littleimgbox{
        width: 80px;height: 400px;border: 1px solid #ddd;float: left;
        a{
            display: block;
        }
        img{
            width: 80px;height: 80px;
        }
        i{
            background: url(../image/detail_icon.png) no-repeat -141px -238px;width: 80px;height: 80px;position: absolute;left: 1px;top: 1px;display: block;
        }
    }
    #smallbox{
        width: 400px;height: 400px;border: 1px solid #ddd;border-width: 1px 1px 1px 0;float: left;position: relative;
        img{
            width: 400px;height: 400px;
        }
    }
    #small {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 200px;
        height: 200px;
        display: none;
        background: url(../image/zoomspan.gif);
    }
    
}
.g_left_bot{
    overflow: hidden;
    li{
        float: left;padding: 20px 11px 0;
        
    }
    span{
        display: inline-block;
        width: 18px;
        height: 18px;
        background: url(../image/detail_icon.png) no-repeat;
        margin-right: 10px;
        vertical-align: middle;
    }
}
.g_right{
    .g_right_mid{
        position: relative;padding: 15px 0 10px 20px;border: 1px dotted #ddd;border-width: 1px 0 1px 0;
    }
    h2{
        padding: 0 0 20px 20px;width: 450px;font: normal 16px/24px "microsoft yahei";
    color: $fontC-deep;
    }
    p{
        color: $fontC-middle;margin-bottom: 8px;overflow: hidden;position: relative;
        span{float: left;@include align(24px);}
    }
    .g_tip{
        width: 60px;padding-right: 17px;line-height: 24px;
    }
    .good_value{
        .g_tip{
            @include align(35px);
        }
    }
    .g_value{
        color: $fontC-aHover-red-l;font-family: "microsoft yahei";line-height: 35px;
        i{
            font-size: 30px;
            font-weight: 500;
            vertical-align: 0px;
            display: inline-block;
            line-height: 28px;
            height: auto;
        }
    }
    .g_hover{
        color: $fontC-light;margin-right: 20px;
        i{
            color: #7e68b3;margin-right: 5px;
        }
    }
    .g_back{
        position: absolute;width: 78px;
        top: 48px;
        left: 75px;
        background: #fafafa;
        border: 1px solid #dedede;
        padding: 10px 5px 10px 20px;
        min-height: 24px;
        display: none;
    }
    .time{
        color: $fontC-light;
    }
    .g_right_bot{
        padding: 24px 0 0 20px;
    }
    .g_num{
        a{
            float: left;width: 21px;height: 22px;background: url(../image/detail_icon.png) no-repeat;
        }
        input{
            @include align(20px);width: 36px;float: left;border: 1px solid #eee;border-width: 1px 0px 1px 0;text-align: center;
        }
        .cut{
            background-position: right -69px;
        }
        .add{
            background-position: -178px -47px;
        }
        
    }
    .g_end{
        padding: 20px 20px 20px 0;line-height: 45px;
        a{
            float: left;margin-right: 20px;
        }
        .add_shopcar,.goto_shopcar{
            width: 160px;height: 45px;background: url(../image/detail_icon.png) no-repeat;
        }
        .add_shopcar{
            background-position: right -597px;
            &:hover{
                background-position-y: -505px;
            }
        }
        .goto_shopcar{
            background-position: right -551px;
            &:hover{
                background-position-y: -459px;
            }
        }
        .aging{
            i{
                display: inline-block;width: 23px;height: 22px;background: url(../image/detail_icon.png) no-repeat 0 -280px;vertical-align: middle;
            }
        }
    }
}
#firstgoods,#secondgoods{
    .mark{width:100%;height: 100%;position: fixed;z-index: 1000;display: none;
        .markcon{
            width: 420px;position: relative;left: 50%;top:50%;z-index: 20;height: 190px;margin-top: -98px;margin-left: -212px;background-color: white;padding: 5px;
        }
        p{
            color: #463a7e;font: normal 16px/16px "microsoft yahei";text-align: center;overflow: hidden;
        }
        h3{
            @include align(40px);font-size: 16px;font-family: "microsoft yahei";font-weight: normal;background-color: #463a7e;margin-bottom: 40px;color: white;padding-left: 20px;
        }    
        a{
            background-color: #FF2832;float: left;@include align(30px);padding: 0 10px;color: white;margin-right: 30px;width: 130px;
        }
        .colormark{
            width: 100%;height: 100%;display: block;
            background-color: #000000; 
            height: 100%; 
            left: 0; 
            filter:alpha(opacity=30); 
            opacity:0.3; 
            overflow: hidden; 
            position: absolute; 
            top: 0; 
            width: 100%; 
            z-index: 10;
            display: block;
        }
    }
}

.sc_head{
    background-color: $fontC-deep;
    .sc_heads{
        @extend %shopcar;
        >img{
            float: right;
        }
        >a{
            float: left;
        }
    }
}
.sc_sum{
    padding: 15px 45px 25px 30px;
    margin-top: 6px;
    position: relative;
    background-color: #fff;
    border: 1px solid #f1f1f1;
    p{
        padding: 5px 0;overflow: hidden;
        .check{
            position: relative;top: 3px;margin-right: 5px;
        }
        span{
            float: right;color: $fontC-deep;
        }
        .del{
            margin-left: 20px;padding: 5px 20px;background: url(../image/sc_del.jpg) no-repeat left center;color: $fontC-middle;
        }
    }
}
.sc_center{
    background-color: #f6f6f6;
    .sc_centers{
        @extend %shopcar;
    }
    h4{
        @include align(28px);padding-top: 34px;padding-left: 14px;font-weight: normal;color: $fontC-middle;
        a{
            color: $fontC-aHover-red-l;margin: 0px 3px;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    table{
        color: $fontC-middle;width: 100%;border: 1px solid white;
        th{
            font-weight: normal;border-bottom: 1px solid white;color: $fontC-light;
        }
        td{
            padding: 20px 0 15px;text-align: center;font-family: "microsoft yahei";background: #fdf0ef;border-top: 1px solid #ececec;
        }
        .tal{
            text-align: left;
        }
        img{
            width: 80px;height: 80px;border: 1px solid #eee;
        }
        .text{
            display: inline-block;width: 30px;height: 20px;text-align: center;border: 1px solid #eee;border-width: 1px 0px;
        }
        .chover{
            &:hover{
                color: $fontC-aHover-red-l;
            }
        }
        .cred{
            color: $fontC-aHover-red-l;font-weight: bold;line-height: 25px;
        }
        .abut{
            width: 14px;height: 20px;display: inline-block;background-color: #fff;
    border: 1px solid #eaeaea;line-height: 20px;
            &:hover{
                text-decoration: none;
            }
        }
        a{
            color: $fontC-deep;
            &:hover{
                text-decoration: underline;
            }
        }
        
    }
    .ckeck{
        vertical-align: middle;display: inline-block;
    }
    .sc_goodsum{
        i{
            font-size: 34px;color: $fontC-aHover-red-l;
        }
    }
    .sc_link{
        .sc_back{
            float: left;color: $fontC-aHover-red-l;padding: 5px 15px;border: 1px solid $fontC-aHover-red-l;
        }
        span{
            padding: 10px 40px;
            background-color: $fontC-aHover-red-l;
            color: #fff;
            font-weight: bold;
            font-size: 14px;
            font-family: microsoft yahei;
        }
        .act{
            background-color: $fontC-aHover-red-d;
        }
        .null{
            background-color: #e4e4e4;
            color: $fontC-light;
            cursor: not-allowed;
        }
    }
}
.sc_null{
    background: #f6f6f6 url(../image/shopcar-bg.jpg) no-repeat center center;height: 400px;@extend %bigbox;position: relative;
    a{
        position: absolute;left: 580px;top: 200px;width: 192px;height: 39px;line-height: 39px;text-align: center;color: white;background-color: $fontC-aHover-red-l;display: block;font-family: "microsoft yahei";font-weight: bold;font-size: 14px;
        &:hover{
            background-color: $fontC-aHover-red-d;
        }
    }
}

.list_mid{
    @extend %bigbox;padding-top: 35px;padding-bottom: 65px;overflow: hidden;
    .list_tit{
        text-align: center;
        background: #fff url(../image/list_bg2.jpg) repeat-x left center;
        width: 100%;
        height: 24px;
        position: relative;
        i{
            background: url(../image/list_bg.jpg) no-repeat;
            display: inline-block;
            position: absolute;
            top: 50%;
            width: 9px;
            height: 11px;
            margin-top: -5px;
        }
        .l_squ{
            left: 0px;
        }
        .r_squ{
            right: 0px;
        }
        span{
            display: inline-block;
            font: bold 20px/24px "microsoft yahei";
            color: #666;
            padding: 0 40px;
            background: #fff;
            position: relative;
        }
    }
    
    
}
.list_content,.list_sold{
    padding-bottom: 85px;
    width: 110%;
    background: #fff;
    overflow: hidden;
    dl{
        width: 240px;
        float: left;
        color: #5d5d5d;
        padding: 15px;
        margin: 35px 40px 0 0;
        overflow: hidden;
    }
    dt{
        width: 240px;
        height: 240px;
        background: #fff;
        position: relative;
    }
    .list_name{
        width: 100%;
        padding-top: 40px;
        height: 36px;
        line-height: 19px;
        overflow: hidden;
        a{
            color: $fontC-middle;
            &:hover{
                color: $fontC-aHover-red-d;
            }
        }
        
    }
    .list_value{
        width: 100%;
        height: 20px;
        padding-top: 5px;
        overflow: hidden;
        line-height: 20px;
        span{
            color: #5d5d5d;
            font-weight: bold;
            font-size: 14px;
            float: left;
            font-family: "microsoft yahei";
        }
    }
    
}

.list_sold{
    dt{
        background: white url(../image/sold.png) no-repeat right top;
    }
    
}
